node_modules
.next
.git
.gitignore
README.md
Dockerfile
.dockerignore
.env*
fly.toml
.vercel
.swc
__mocks__
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.tsbuildinfo
coverage
.nyc_output
.vscode
.idea
*.md 